/* Global styles */

main {
    font-family: "SamlipBasic";
}

body {
    font-family: 'SamlipBasic', sans-serif;
}

h1.titlefont {
    font-family: "SamlipOutline";
}

header {
    font-family: "SamlipBasic";
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

@font-face {
    font-family: 'SamlipOutline';
    src: url('fonts/SDSamliphopangcheOutline.otf') format('opentype');
}

@font-face {
    font-family: 'SamlipBasic';
    src: url('fonts/SDSamliphopangcheBasic.otf') format('opentype');
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

/* Button styles */
.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}

/* Mode toggle styles */
.bd-mode-toggle {
    z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
}

/* Page-specific styles */
.mainsearchbar {
    font-family: 'Courier New', Courier, monospace;
}

.indexpage {
    height: 100%;
    width: 100%;
    background-image: url('images/desk.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.desk {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Additional styles for cards within the "place" class */
.place .card {
    height: 300px;
    width: 100%;
    padding: 10px;
    margin: 20px;
    align-items: center;
}

.card.transparent {
    background-color: rgba(255, 255, 255, 0.5);
    /* Here, 0.7 represents the opacity level */
}


.card-text {
    color: rgb(0, 0, 0);
    font-size: 26px;
    text-align: center;
    font-family: 'SamlipOutline';
    border: none;
}

.list-group-item {
    background-color: transparent;
    border: none;
    font-size: 16px;
}

.list-group {
    width: 100%;
    margin: 0;
    /* Remove any margin to align it to the left */
    padding: 10px;
    /* Add a little padding */
    background-color: transparent;
    /* Set the background color to transparent */
}


.exp {
    padding: 2px;
}

.view {
    color: #404E67;
    background: lightgray;
    font-family: 'Open Sans', sans-serif;
}

.table-wrapper {
    width: 95%;
    margin: 30px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    border-radius: 10px;
}

.table-title {
    padding-bottom: 10px;
    margin: 0 0 10px;
}

.table-title h2 {
    margin: 6px 0 0;
    font-size: 22px;
}

.table-title .add-new {
    float: right;
    height: 30px;
    font-weight: bold;
    font-size: 12px;
    text-shadow: none;
    min-width: 100px;
    border-radius: 50px;
    line-height: 13px;
}

.table-title .add-new i {
    margin-right: 4px;
}

table.table {
    table-layout: fixed;
}

table.table tr th,
table.table tr td {
    border-color: #e9e9e9;
}

table.table td a {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    min-width: 24px;
}

.action-icons {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.action-icons .add i {
    color: #27C46B;
    margin-right: 15px;
}

.action-icons .add i:hover {
    color: #75ce9b;
    margin-right: 15px;
}

.action-icons .edit i {
    color: #FFC107;
    margin-right: 15px;
}

.action-icons .edit i:hover {
    color: #ffe28d;
}

.action-icons .home i {
    color: #b62b2b;
    margin-right: 15px;
}

.action-icons .delete i {
    color: #c26161;
}

table.table td i {
    font-size: 19px;
}

table.table td a.add i {
    font-size: 24px;
    margin-right: -1px;
    position: relative;
    top: 3px;
}

.edit i.material-icons {
    color: #FFC107;
    font-size: 100%;
    text-align: center;
}

.edit i.material-icons:hover {
    color: #ffe28d;
}

table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}

table.table th:first-child,
table.table td:first-child {
    width: 4%;
    /* Adjust the width as needed */
    text-align: center;
}

table.table th:nth-child(2),
table.table td:nth-child(2) {
    width: 10%;
    /* Adjust the width as needed */
}

table.table th:nth-child(3),
table.table td:nth-child(3) {
    width: 10%;
    /* Adjust the width as needed */
}

table.table th:nth-child(4),
table.table td:nth-child(4) {
    width: 10%;
    /* Adjust the width as needed */
}

table.table th:nth-child(5),
table.table td:nth-child(5) {
    width: 10%;
    /* Adjust the width as needed */
}

table.table th:nth-child(6),
table.table td:nth-child(6) {
    width: 4%;
    /* Adjust the width as needed */
    text-align: center;
}

table.table .form-control.error {
    border-color: #f50000;
}

table.table td .add {
    display: none;
}

.star i {
    cursor:pointer;
    color: gray;
}

.star:hover i {
    color: gold;
}

.star i.bi-star-fill {
    color: gold;
}

.star i.bi-star-fill:hover {
    color: gray;
}

.inputpage {
    color: #404E67;
    background: lightgray;
    font-family: 'Open Sans', sans-serif;
}

.inputcontainer {
    margin: 30px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    border-radius: 10px;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    font-weight: bold;
}

.radio-label {
    padding-left: 20px;
}

.enter-buttons {
    text-align: right;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    /* Add your responsive styles for smaller screens here */
}

@media (max-width: 576px) {
    /* Add your responsive styles for even smaller screens here */
}

.inputcontainer {
    font-family: 'SamlipBasic', sans-serif;
}

body.inputpage {
    font-family: 'SamlipBasic', sans-serif;
}


body.view {
    font-family: 'SamlipBasic', sans-serif;
}